
body {
	background-color: #111111;
}

pre {
	text-align: left;
	border: 1px #ddd solid;
	padding: 10px;
	background-color: #e5e5e5;
	position: relative;
}

// .container {
// 	width: 70%;
// 	padding: 20px;
// 	border: 1px #333 solid;
// 	background-color: #eee;
// 	margin: 0 auto;
// 	border-radius: 20px;
// 	-moz-border-radius: 20px;
// 	-webkit-border-radius: 20px;
// }

[href],
.emailTo {  
	display: inline-block;
	padding: 5px; 
	border: 1px #ddd dashed; 
}


/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.tabcontent span {
	font-size: 10px;
	color: #999;
}

.tabcontent table td {
    padding: 5px !important;
    vertical-align: top;
}
